{% extends 'base.html' %}


{% block etatactuel %}
{{dispositif.nom_lieu}}
{% endblock etatactuel %}


{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="text-center col-md-3">
        <h6>Aujourd'hui</h6>
        <h3>{{daily_consommation}} m&sup3</h3>
    </div> 
    <div class="text-center col-md-1"></div>
    <div class="text-center col-md-3">
        <h6>Cette sémaine</h6>
        <h3>{{weekly_consommation}} m&sup3</h3>
    </div>
    <div class="text-center col-md-1"></div>
    <div class="text-center col-md-3">
        <h6>Ce mois</h6>
        <h3>{{monthly_consommation}} m&sup3</h3>
    </div>    
    <div class="text-center col-md-1"></div>
</div>
<div class="col-md-2">
    <select name="dispo" class="form-select" required onchange="redirectToSection(this)">
        <option value="{% url 'graphe_dispo' dispositif.id %}">{{ dispositif.nom_lieu }}</option>
        {% for other_dispositif in dispos %}
            {% if other_dispositif.id != dispositif.id %}
                <option value="{% url 'graphe_dispo' other_dispositif.id %}">{{ other_dispositif.nom_lieu }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div style="width: 80%; margin: 0 auto;">
    <h3 class="text-center">Graphique de la consommation des sept derniers jours</h3>
    <canvas id="myChart"></canvas>  
</div>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Fonction pour rafraîchir la page toutes les 10 secondes
    function refreshPage() {
        location.reload();
    }

    // Actualiser la page toutes les 10 secondes (10000 millisecondes)
    setInterval(refreshPage, 10000);
</script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
        var data = {
            labels: [
                {% for item in data %}
                "{{ item.day|date:'SHORT_DATE_FORMAT' }}",
                {% endfor %}
            ],
            datasets: [{
                label: 'Consommation des sept derniers jours en m³',
                data: [
                    {% for item in data %}
                    {{ item.quantite_sum }},
                    {% endfor %}
                ],
                backgroundColor: 'lightblue',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        };

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
</script>
<script>
    function redirectToSection(select) {
        var selectedOption = select.options[select.selectedIndex];
        var url = selectedOption.value;
        if (url !== "") {
            window.location.href = url;
        }
    }
</script>
{% endblock scripts %}