{% extends 'base.html' %}

{% block etatactuel %}
    Liste des alertes
{% endblock etatactuel %}

{% block content %}
<div class="container">
    <div class="alert alert-info">
        {% if alert_count > 0 %}
            {% if alert_count == 1 %}
                <p>Vous avez <strong>{{ alert_count }}</strong> alerte.</p>
            {% else %}
                <p>Vous avez <strong>{{ alert_count }}</strong> alertes.</p>
            {% endif %}
        {% else %}
            <p>Aucune alerte disponible.</p>
        {% endif %}
    </div>
    <ul class="list-group">
        {% for alert in alerts %}
            <li class="list-group-item">
                <div class="alert-title" style="cursor: pointer;">
                    {% if alert.is_read %}
                        <i class="bi bi-envelope-open" aria-hidden="true"></i>
                    {% else %}
                        <i class="bi bi-envelope" aria-hidden="true"></i>
                    {% endif %}
                    {{ alert.intitule }}
                </div>
                <div class="alert-details" style="display: none;">
                    <p class="alert-message">{{ alert.message }}</p>
                    <div class="alert-meta">
                        <p><strong>Date de création :</strong> {{ alert.date_creation|date:"d-m-Y H:i:s" }}</p>
                    </div>
                    <form method="post" action="{% url 'marquer_lue' alert.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Marquer comme lue</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<script>
    // Ajoutez un gestionnaire d'événements pour afficher/masquer les détails de l'alerte
    const alertTitles = document.querySelectorAll('.alert-title');
    alertTitles.forEach(title => {
        title.addEventListener('click', () => {
            const details = title.nextElementSibling;
            details.style.display = details.style.display === 'none' ? 'block' : 'none';
        });
    });
</script>
{% endblock content %}
