{% extends 'base.html' %}

{% block etatactuel %}
    Alerte lue
{% endblock etatactuel %}

{% block content %}
    <div class="container">
        <div class="alert alert-info">
            <h2>{{ alert.intitule }}</h2>
            <p class="alert-message">{{ alert.message }}</p>
            <div class="alert-meta">
                <p><strong>Date de création :</strong> {{ alert.date_creation|date:"d-m-Y H:i:s" }}</p>
            </div>
        </div>
        <form method="post" action="{% url 'marquer_lue' alert.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Marquer comme lue</button>
        </form>
    </div>
{% endblock content %}
