{% extends 'base.html' %}

{% block etatactuel %}
    Alert lue
{% endblock etatactuel %}

{% block content %}
    <div class="container">
        <h1>Lire l'Alerte</h1>
        <div class="alert alert-info">
            <p><strong>Intitulé :</strong> {{ alert.intitule }}</p>
            <p><strong>Message :</strong> {{ alert.message }}</p>
            <p><strong>Date :</strong> {{ alert.date }}</p>
        </div>
        <form method="post" action="{% url 'marquer_lue' alert.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Marquer comme lue</button>
        </form>
    </div>
{% endblock content %}