/* Réinitialisation des styles par défaut */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles globaux */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333; /* Couleur de texte par défaut */
  background-color: #fff; /* Couleur de fond par défaut */
}

/* Styles de la grille de mise en page */
.container-grille {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
}

/* Styles de l'en-tête */
.header {
  grid-column: span 2;
  padding: 10px;
  text-align: center;
  font-size: 22px;
  background-color: #fff;
  color: #65a9dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles du logo */
.logo {
  width: 50px;
  height: auto;
  font-size: 60px;
  text-align: left;
  margin-left: 30px;
}

/* Styles du titre de l'en-tête */
.header-title {
  color: #10b3d8;
  position: relative;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

/* Styles des icônes dans l'en-tête */
.icons {
  display: flex;
  gap: 20px;
  color: #10b3d8;
}

/* Styles des icônes du profil et des notifications */
.profile-icon,
.notification-icon {
  width: 30px;
  height: 30px;
  color: #10b3d8;
  font-size: 40px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}

/* Styles de la barre latérale */
.sidebar {
  height: inherit;
  background-color: #10b3d8;
  color: #fff;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: #080808;
}

/* Styles de la liste non ordonnée dans la barre latérale */
.sidebar ul {
  list-style: none;
  padding: 0;
}

/* Styles des éléments de la liste dans la barre latérale */
.sidebar li {
  margin-bottom: 25px;
}

/* Styles des liens dans la barre latérale */
.sidebar a {
  color: #0b0a0a;
  text-decoration: none;
  font-size: 18px;
}

/* Styles pour les icônes dans la barre latérale */
.sidebar ion-icon {
  vertical-align: middle;
  font-size: 24px;
}

/* Styles pour les icônes dans la barre latérale suivies d'un texte */
.navbar ion-icon + span {
  font-size: 16px;
}

/* Styles du bouton de déconnexion */
.logout-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.logout-button:hover {
  text-decoration: underline;
}

/* Styles pour le conteneur flexible */
.flex-container {
  display: flex;
  align-items: center;
}

/* Styles pour les icônes dans le conteneur flexible */
.flex-container ion-icon {
  margin-right: 10px;
}

/* Styles pour le texte dans le conteneur flexible */
.flex-container span {
  flex-grow: 1;
  text-align: right;
}

/* Styles du contenu principal */
.main-content {
  margin-top: 0px;
  padding: 0px;
  margin-right: -10px;
  height: 100vh;
  text-align: justify;
}

/* Styles de l'en-tête du contenu principal */
.content-header {
  background-color: #f0f5f8;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

/* Styles pour l'affichage de la consommation totale */
.total-consumption {
  background-color: #10b3d8;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

/* Styles pour la taille des icônes */
.icon-size {
  font-size: 20px;
}

/* Styles pour les boutons */
.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button {
  background-color: #10b3d8;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles pour le texte du graphique */
.graphe {
  color: #fff;
}

/* Styles pour la table responsive */
.table-responsive {
  max-height: 400px;
  overflow-y: auto;
}

/* Styles pour l'en-tête fixe */
.sticky-top {
  position: sticky;
  top: 0;
  background-color: #10b3d8;
}

/* Styles pour le mode sombre */
.dark-mode {
  background-color: #000;
  color: #fff;
}

/* Styles pour les détails */
.details {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

/* Styles pour le conteneur du logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Styles pour le logo */
.logo {
  max-width: 100%;
  max-height: 100%;
}

/* Styles pour les éléments FAQ */
.faq-item {
  margin-bottom: 40px;
  margin-top: 40px;
}

/* Styles pour le corps de la FAQ */
.faq-body {
  display: none;
  margin-top: 30px;
}

/* Styles pour l'enveloppe de la FAQ */
.faq-wrapper {
  width: 75%;
  margin: 0 auto;
}

/* Styles pour le contenu interne de la FAQ */
.faq-inner {
  padding: 30px;
  text-align: justify;
}

/* Styles pour le bouton de déroulement de la FAQ */
.faq-plus {
  float: right;
  font-size: 1.4em;
  line-height: 1em;
  cursor: pointer;
}

/* Styles pour la ligne horizontale */
hr {
  background-color: #9b9b9b;
}

/* Styles pour les éléments de consommation journalière */
.consojour {
  padding-left: 20px;
  position: relative;
}

/* Styles pour le pied de page */
.footer {
  background-color: skyblue;
  color: #fff;
  padding: 20px 0;
}

/* Styles pour le contenu du pied de page */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Styles pour le logo du pied de page */
.footer-logo img {
  width: 100px;
  height: auto;
}

/* Styles pour les liens du pied de page */
.footer-links {
  display: flex;
  gap: 20px;
}

/* Styles pour les liens dans le pied de page */
.footer-links a {
  color: #fff;
  text-decoration: none;
}

/* Styles pour les informations de contact dans le pied de page */
.footer-contact p {
  margin: 0;
}

/* Styles pour les liens de contact dans le pied de page */
.footer-contact a {
  color: #fff;
  text-decoration: none;
}

/* Styles pour le bas du pied de page */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

/* Styles pour la masquage de la barre latérale à moins de 768px */
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
