{% extends 'base.html' %}

{% block etatactuel %}
Prévision
{% endblock etatactuel %}

{% block content %}
    {% if messages %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form>
                    {% for message in messages %}
                    <div class="form-group text-center">
                        <p id="messages" class="form-control">{{ message }}</p>
                    </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <table class="table table-bordered table-striped mt-4 text-center">
        <thead class="sticky-top text-white">
            <tr class="">
                <th>Numéro</th>
                <th>Date</th>
                <th>Prévision</th>
                <th>Borne inférieure (IC)</th>
                <th>Borne supérieure (IC)</th>
            </tr>
        </thead>
        <tbody>
            {% for date, prediction, lower, upper in forecast_data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ date|date:"Y-m-d" }}</td>
                <td>{{ prediction }}</td>
                <td>{{ lower }}</td>
                <td>{{ upper }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-4">
        <h2></h2>
        <p>
            Qualité prévisionnelle : {{ pourcentage }} % <br>
            {% if pourcentage > 90 %}
            Le pourcentage associé à la qualité prévisionnelle est très élevé, ce qui signifie que les données prédictes seront en moyenne très proches des futures observations.
            {% elif pourcentage > 70 %}
            Le pourcentage associé à la qualité prévisionnelle est bon, ce qui indique des prédictions généralement précises.
            {% elif pourcentage > 50 %}
            Le pourcentage associé à la qualité prévisionnelle est moyen, ce qui suggère des écarts modérés par rapport aux futures observations.
            {% elif pourcentage > 30 %}
            Le pourcentage associé à la qualité prévisionnelle est mauvais, indiquant des erreurs significatives par rapport aux futures observations.
            {% else %}
            Le pourcentage associé à la qualité prévisionnelle est très mauvais, ce qui signifie que les prédictions sont très éloignées des futures observations.
            {% endif %}
        </p>
    </div>
    {% endif %}
{% endblock content %}